ul.posts {
    list-style-type: None;
    padding: 0;
    margin-left: 8px;
    margin-top: 16px;
    border-top: 1px solid #e0e0e0;
}

ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.posts li.post:hover {
    background-color: #f0f0f0;
}

div.post-date {
    float: right;
}

div.post-author {
    font-weight: bold;
}

div.post-content {
    margin-left: 0;
    min-height: 48px;
}